# MPESA Configuration variables

# The Mpesa environment to use
# Possible values: sandbox, production

MPESA_ENVIRONMENT=sandbox

# Credentials for the daraja app

MPESA_CONSUMER_KEY=mpesa_consumer_key
MPESA_CONSUMER_SECRET=mpesa_consumer_secret

#Shortcode to use for transactions. For sandbox  use the Shortcode 1 provided on test credentials page

MPESA_SHORTCODE=mpesa_shortcode

# Shortcode to use for Lipa na MPESA Online (MPESA Express) transactions
# This only has a different value on sandbox, you do not need to set it on production
# For sandbox use the Lipa na MPESA Online Shorcode provided on test credentials page

MPESA_EXPRESS_SHORTCODE=mpesa_express_shortcode

#Type of shortcode
# Possible values: 
# - paybill (For Paybill)
# - till_number (For Buy Goods Till Number)

MPESA_SHORTCODE_TYPE=paybill

# Lipa na MPESA Online passkey
# Sandbox passkey is available on test credentials page
# Production passkey is sent via email once you go live

MPESA_PASSKEY=mpesa_passkey

# Username for initiator (to be used in B2C, B2B, AccountBalance and TransactionStatusQuery Transactions)

MPESA_INITIATOR_USERNAME=initiator_username

# Plaintext password for initiator (to be used in B2C, B2B, AccountBalance and TransactionStatusQuery Transactions)

MPESA_INITIATOR_SECURITY_CREDENTIAL=initiator_security_credential